<div id="cv">
    <div class="mainDetails">
        <div id="headshot">
            <img src="alejo.jpeg" alt="Alejandro Ayala"/>
        </div>

        <div id="name">
            <h1><%= author%></h1>

            <h2><%= profesion%></h2>
        </div>

        <div id="contactDetails">
            <ul>
                <li><a href="mailto:alejandro.ayala@solmedia.ec" target="_blank">alejandro.ayala@solmedia.ec</a></li>
                <li><a href="http://alejandroayala.solmedia.ec">http://alejandroayala.solmedia.ec</a></li>
                <li><%= phono%></li>
            </ul>
        </div>
    </div>
</div>
