<!DOCTYPE html>

<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Quiz el juego de las preguntas">
    <meta name="author" content="Alejandro Ayala">
    <title>Quiz el juego de las preguntas</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Custom styles for this template -->
    <link href="/stylesheets/jumbotron-narrow.css" rel="stylesheet">
</head>

<body>

<div class="container">
    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation" class="active"><a href="/">Inicio</a></li>
                <li role="presentation"><a href="/quizes">Preguntas</a></li>
                <li role="presentation"><a href="/author">Créditos</a></li>
            </ul>
        </nav>
        <h3 class="text-muted">Quiz App</h3>
    </div>


    <div class="row marketing">
        <div class="alert-danger">
            <% if(errors.length) { %>
            Corregir errores:<br/>
            <% for(var i in errors) { %>
            <span><%= errors[i].message %></span><br/>
            <% }} %>
        </div>
        <%- body %>
    </div>

    <footer class="footer">
        <a href="http://es.wikipedia.org/wiki/Quiz">¿Que es un Quiz?</a><br>
        <a href="https://github.com/malayat/quiz-app"><img src="/github.ico"/> Proyecto en Github</a>
    </footer>

</div>


</body>
</html>