<!DOCTYPE html>

<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Quiz el juego de las preguntas">
    <meta name="author" content="Alejandro Ayala">
    <title>Quiz el juego de las preguntas</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Custom styles for this template -->
    <link href="/stylesheets/jumbotron-narrow.css" rel="stylesheet">
</head>

<body>

<div class="container">
    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills pull-left">
                <li role="presentation"><a href="/">Inicio</a></li>
                <li role="presentation"><a href="/quizes">Preguntas</a></li>
                <li role="presentation"><a href="/author">Créditos</a></li>
            </ul>

            <ul class="nav nav-pills pull-right">
                <% if(!session.user){ %>
                <li role="presentation" class="active"><a href="/login">Login</a></li>
                <% }else{ %>
                <form method="post" action="/logout?_method=delete">
                    <li role="presentation" class="active">
                        <span class="label label-success"><%= session.user.username %></span>
                        <button type="submit" class="btn  btn-primary">Logout</button>
                    </li>
                </form>
                <% } %>
            </ul>
        </nav>
    </div>

    <div class="row marketing">
        <div class="alert-danger">
            <% if(errors.length) { %>
            Corregir errores:<br/>
            <% for(var i in errors) { %>
            <span><%= errors[i].message %></span><br/>
            <% }} %>
        </div>
        <%- body %>
    </div>

    <footer class="footer">
        <h5><a href="http://es.wikipedia.org/wiki/Quiz">¿Que es un Quiz?</a><br></h5>
        <h6><a href="https://github.com/malayat/quiz-app"><img src="/github.ico"/> Proyecto en Github</a></h6>
    </footer>
</div>
</body>
</html>