<label for="preg" class="rem">Pregunta:</label>
<input id="preg" type="text" name="quiz[pregunta]" value="<%= quiz.pregunta %>"/><br>
<label for="resp" class="rem">Respuesta:</label>
<input id="resp" type="text" name="quiz[respuesta]" value="<%= quiz.respuesta %>"/><br>
<label for="ban" class="rem">Bandera:</label>
<input id="ban" type="text" name="quiz[url_bandera]" value="<%= quiz.url_bandera %>"/><br>
<a href="/quizes"><button type="button">Cancelar</button></a>
<input type="submit" value="Guardar"/>