<p>
    <%= respuesta %><br><br>
    <% if (respuesta === 'Incorrecto') { %>
    <a href="/quizes/<%= quiz.id %>">Volver a intentar</a>
    <% } else { %>
    <a href="/quizes">Otra Pregunta</a>
    <% } %>
</p>
