<p>
    <% if (respuesta === 'Incorrecto') { %>
<div class="alert alert-danger" role="alert">
    <%= respuesta %><br><br>
    <a href="/quizes/<%= quiz.id %>">Volver a intentar</a>
</div>
<% } else { %>
<div class="alert alert-success" role="alert">
    <%= respuesta %><br><br>
    <a href="/quizes">Otra Pregunta</a>
</div>
<% } %>
</p>
